#### L_A_coursera_p3

#### inserted a cell below pressing the b button to write my introduction 
This is my introduction :) ta daaaa

ordered list of data science languages
1. Python
2. R
3. Java

ordered list of data science libraries

1. Pandas
2. NumPy
3. Pytorch
4. Scikit learn
5. Tensorflow
6. Seaborn
7. Matplotlib

markdown cell for table with data science tools

| Jupyter | Spyder | Rstudio |
|---------|--------|---------|
|Microsoft Power BI | Tableau | IBM Cognos Analytics |

#### introducing arithmetic expression examples in a list
- 3*4 == 12
- 3**2 == 9

In [6]:
# creating codde to multiply and add numbers 
number1 = int(input("number1 : "))
number2 = int(input("number2 : "))
print(f"multiplication {number1}*{number2} ={number1 * number2}")
print(f"addition {number1}+{number2} ={number1 + number2}")

number1 : 3
number2 : 5
multiplication 3*5 =15
addition 3+5 =8

In [8]:
#creating code that converts minutes to hours 
minutes = int(input("minutes :"))
print("hours :",minutes/60)

minutes :65
hours : 1.0833333333333333

### markdown cell that lists objectives with unordered list . a day at the super market
- coffee
- yoghurt
- chocolate
- eggs
- flour
- milk

#### author
[linkedIn profile of Loukas_Anastasiadis](https://www.linkedin.com/in/loukas-anastasiadis-5771b0170/)