# L_A_coursera_p3

#### inserted a cell below pressing the b button to write my introduction 
This is my introduction :) ta daaaa

ordered list of data science languages
1. Python
2. R
3. Java

ordered list of data science libraries

1. Pandas
2. NumPy
3. Pytorch
4. Scikit learn
5. Tensorflow
6. Seaborn
7. Matplotlib

markdown cell for table with data science tools

| Jupyter | Spyder | Rstudio |
|---------|--------|---------|
|Microsoft Power BI | Tableau | IBM Cognos Analytics |

#### introducing arithmetic expression examples in a list
- 3*4 == 12
- 3**2 == 9

In [1]:
# creating codde to multiply and add numbers 
(3*5)+2

17

In [2]:
#creating code that converts minutes to hours .let's say 200 minutes.
200/60

3.3333333333333335

### introductory cell . a day at the super market

**Objectives**
- coffee
- yoghurt
- chocolate
- eggs
- flour
- milk

## author
[Loukas_Anastasiadis](https://www.linkedin.com/in/loukas-anastasiadis-5771b0170/)